@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal;  font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face{
    font-family: 'Noto Sans KR'; font-style: normal;
    font-weight: 900; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

* {margin:0;padding:0;-webkit-text-size-adjust:none;}
*, *:before, *:after { box-sizing: inherit;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { border: 0; outline: 0;  font-size: 100%;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}

a { margin: 0; padding: 0; border: 0; font-size: 100%; }

html, body {box-sizing: border-box; height:100%; }
body {font-family:"Noto Sans KR", Malgun Gothic,'맑은 고딕',"돋움",Dotum,Verdana,Arial,helvetica,clean,sans-serif; color:#212121; font-size:20px; letter-spacing:-0.075em; font-weight:500; line-height:1.5em;}

@media only screen and  (max-width:768px) { 
	body, .section {font-size:2.8vw; line-height:1.5em;}
}
@media only screen and  (max-width:480px) { 
	body, .section {font-size:3.8vw}
}

label, input, button, select, img {vertical-align:middle; box-sizing: border-box; font-size:20px; outline:none}
select,input,button,textarea,button{ font-family:"Noto Sans KR", 'Malgun Gothic','맑은 고딕',Dotum,Verdana; outline:none}
select {font-family:"Noto Sans KR", Malgun Gothic,'맑은 고딕',"돋움",Dotum,Verdana,Arial,helvetica,clean,sans-serif;  outline:none}

button, input[type="submit"] {cursor: pointer;}


@media only screen and  (max-width:768px) { 
	label, input, button, select, img {font-size:2.8vw}
}
@media only screen and  (max-width:480px) { 
	label, input, button, select, img {font-size:3.8vw}
}

/*이미지 안깨지게*/
img  {
	image-rendering: -moz-auto;         /* Firefox */
	image-rendering:   -o-auto;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: auto;
	/*-ms-interpolation-mode: nearest-neighbor; IE (non-standard property) */
	-ms-interpolation-mode: bicubic;
}

/*스크롤*/
::-webkit-scrollbar {width:5px;}
::-webkit-scrollbar-thumb {background:#505bf0; border-radius:50px;}
::-webkit-scrollbar-track {background-color: grey;}


/*링크*/
a{text-decoration:none;}
a:active {text-decoration:none;}
a:focus {text-decoration:none;}
a:visited, a:visited *, a.visited, a.visited:visited {text-decoration:none;}
a:hover,a:hover *,a.visited:hover {text-decoration:none;}


/*list*/
ol, ul, li, dd, dl, dt {list-style:none; box-sizing: border-box}
.fllist, .frlist {position:relative;}
ul.fllist li , .fllist > * {float:left;}
ul.frlist li , .frlist > * {float:right;}
.fllist:after , .frlist:after {clear:both;display:block;content:"";}

/* Form */
fieldset {padding:0px;margin:0px;border:0px;}
legend{display:none;}

input::placeholder {color:#a1a1a1}

input::-ms-clear {display: none;}

input[type='tel'],input[type='url'],input[type='number'], input[type='email'], input[type='text'], input[type='password'], 
input.text,input.password {border:1px solid #dbdbdb;/*line-height:40px;;*/height:70px; background:none;color: #777; padding:0 30px; border-radius:15px;}

input:hover[type='tel'],input:hover[type='url'],input:hover[type='number'], input:hover[type='email'], input:hover[type='text'], input:hover[type='password'], 
input:hover.text,input:hover.password {border:1px solid #505bf0}

input[type='image'], input.image,input[type='radio'], input.radio,input[type='checkbox'], input.checkbox,input.radio,input.checkbox {border:1px solid #dbdbdb;vertical-align:middle;padding:0px;margin:0px;}

input:hover[type='image'], input:hover.image,input:hover[type='radio'], input:hover.radio,input:hover[type='checkbox'], input:hover.checkbox,
input:hover.radio,input:hover.checkbox {border:1px solid #505bf0}

input[type='radio'], input.radio,input[type='checkbox'], input.checkbox,input.radio,input.checkbox {width:24px; height:24px;}
input:hover[type='radio'], input:hover.radio,input:hover[type='checkbox'], input:hover.checkbox,input:hover.radio,input:hover.checkbox {border:1px solid #febd25}

textarea, .textarea {border:1px solid #dbdbdb;line-height:150%;background:none; width: 100%;color: #777; padding:30px}
textarea:hover, .textarea:hover {border:1px solid #505bf0}

/*input[type='text'] {ime-mode:active} 자동한글입력*/

input.readonly {background-color:#ededed;}

label::before {content:" ";} 
input.disabled, input:disabled {background-color:#ededed;}
input.required, input:required {}

select , select.select {position:relative; border:1px solid #dbdbdb; line-height:70px;height:70px;/*width: 92%;*/color: #777; border-radius:0; padding:0 30px; border-radius:50px; background:url(/share/img/inc/set_arrow.png) no-repeat 96% 50%;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
appearance:none;}

select::-ms-expand {display:none}

select:hover , select:hover.select{border:1px solid #505bf0}

input[type="file"] {border:0;padding:0;height:70px;border-style:solid;/*border:1px solid #dbdbdb;*/ outline: none; background:#fff;line-height:70px;box-sizing:content-box;vertical-align:middle;}
input:hover[type="file"] {/*border:1px solid #505bf0*/}

.hide {display:none;}

/*체크박스 라디오박스*/
.checkbox, .radio{position:relative;display:inline-block;margin:3px 0;cursor:pointer;vertical-align:middle;color:#a1a1a1;}
.checkbox input, .radio input{opacity:0;position:absolute;left:0;top:0;width:38px;height:38px;z-index:1;}
.checkbox input:checked, .radio input:checked, .checkbox input:focus, .radio input:focus{outline:none! important;}
.checkbox input:checked+.lbl, .radio input:checked+.lbl {color:#000;}
.checkbox input+.lbl, .radio input+.lbl{position:relative;display:inline-block;margin:0;line-height:39px;padding:0 0 0 50px;font-weight:normal;vertical-align:top;word-break:break-all;}
.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:60px;text-indent:-999em;font-size:0;}
.checkbox input+.lbl:before, .radio input+.lbl:before{content:'';border:1px solid #dbdbdb;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);background:#fff;display:inline-block;height:38px;width:38px;position:absolute;left:0;top:1px;box-sizing:border-box;}
.checkbox input+.lbl:before {background:#fff;}

.checkbox input+.lbl:after, .radio input+.lbl:after{content:'';display:inline-block;position:absolute;background-color:#bbb}

.checkbox input+.lbl:before {border-radius:7px;}
.checkbox input+.lbl:after{}
.checkbox input:checked+.lbl:before{border-color:#505bf0;background:#505bf0;}
.checkbox input:checked+.lbl:after{width:24px;height:13px;top:8px;left:7px;border:2px solid #fff;border-top:none;border-right:none;background:transparent;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}


.radio input+.lbl:before{border-radius:100%;}
.radio input+.lbl:after{width:30px;height:30px;top:5px;left:4px;border-radius:100%;background:#aaa;}

.radio input:checked+.lbl:before{background:#fff;border-color:#505bf0;}
.radio input:checked+.lbl:after{background:#505bf0;}


.checkbox input:disabled+.lbl:before, .radio input:disabled+.lbl:before,
.checkbox input[disabled]+.lbl:before, .radio input[disabled]+.lbl:before,
.checkbox input.disabled+.lbl:before, .radio input.disabled+.lbl:before,
.checkbox input:disabled+.lbl:after, .radio input:disabled+.lbl:after,
.checkbox input[disabled]+.lbl:after, .radio input[disabled]+.lbl:after,
.checkbox input.disabled+.lbl:after, .radio input.disabled+.lbl:after{opacity:0.5;}
.checkbox.hover > input + .lbl:before, .radio.hover > input + .lbl:before{border-color:#777}


@media only screen and  (max-width: 768px) { 
	/* Form */
	input {padding:0 3vw;}

	input[type='tel'],input[type='url'],input[type='number'], input[type='email'], input[type='text'], input[type='password'], 
	input.text,input.password {height:9vw; padding:0 3vw;}

	textarea, .textarea {padding:0 3vw !important;}
	select , select.select {height:9vw; line-height:9vw; padding:0 4vw; background-position:93% 50%; background-size:2.2vw 1.4vw}

	input[type="file"] {height:9vw;}

	
	/*체크박스 라디오박스*/
	.checkbox input, .radio input{width:4.4vw;height:4.4vw;}
	.checkbox input+.lbl, .radio input+.lbl{line-height:4.7vw; padding:0 0 0 6vw;}
	.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:4.5vw;}
	.checkbox input+.lbl:before, .radio input+.lbl:before{height:4.5vw;width:4.5vw;}
	.checkbox input:checked+.lbl:after{width:3vw;height:1.3vw;top:1.3vw;left:0.7vw;}
	.radio input+.lbl:after{width:3.6vw;height:3.6vw;top:0.6vw;left:0.4vw;}
}

@media only screen and  (max-width: 480px) { 
	/* Form */
	input {padding:0 5vw;}

	input[type='tel'],input[type='url'],input[type='number'], input[type='email'], input[type='text'], input[type='password'], 
	input.text,input.password {height:13vw; padding:0 5vw;}

	select , select.select {height:13vw; padding:0 5vw; background-position:92% 50%; background-size:2.8vw 1.8vw}
	textarea, .textarea {padding:0 5vw !important;}

	input[type="file"] {margin:1px;height:14vw;}

	
	/*체크박스 라디오박스*/
	.checkbox input, .radio input{width:6.4vw;height:6.4vw}
	.checkbox input+.lbl, .radio input+.lbl{line-height:6.8vw; padding:0 0 0 8.5vw;}
	.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:6.5vw;}
	.checkbox input+.lbl:before, .radio input+.lbl:before{height:6.5vw;width:6.5vw;}
	.checkbox input:checked+.lbl:after{width:4.5vw;height:2vw;top:1.7vw;left:1vw;}
	.radio input+.lbl:after{width:4.3vw;height:4.3vw;top:0.8vw;left:0.6vw;}
}


/* img */
img {border:0px;vertical-align:middle;} 
img.button {cursor:pointer;}
button.imgBtn {padding:0px;margin:0px;border:0px;cursor:pointer;}

/* Table */
table { border-collapse: collapse; border-spacing: 0px;}
table caption{height:0;width:0;text-indent:-9999px;}


/*skipnavi*/
#skipnavi {position: absolute; top:0; left:0; width:100%; z-index:99999; font-size:0; line-height:0;}
#skipnavi h2{display:block; position:absolute; top:-500px; text-indent:-9999px; color:#333; padding-top:1px; font-size:12px; font-weight:bold; line-height:130%;}
#skipnavi a {display:block; position:absolute; top:-500px; text-indent:-9999px; color:#333; padding-top:1px; font-size:12px; font-weight:bold; line-height:130%;}
#skipnavi a:hover, #skipnavi a:active, #skipnavi a:visited, #skipnavi a:focus {position:absolute; top:0; left:0; width:200px; height:34px; line-height:32px; background-color:#fff; border:2px solid #004aac; text-indent:0; text-align:center;}

hr{ display:none;}

/* table common */
table {border-collapse:collapse;}
table caption{height:0;width:0;text-indent:-9999px;}

/*기본 스타일*/
.fr {float:right !important;}
.fl {float:left !important;}
.cr {clear:both !important;}
.aftercr:after {clear:both;content:"";display:block;}

/*박스유형*/
.isbox {display:block;position:relative;}
.gr_box {position:relative;display:block;background:#f5f5f5;border:1px solid #ddd;padding:30px}
.wh_box {position:relative;display:block;border:1px solid #ddd;padding:30px}
.isabs {position:absolute;}
.in_bl {display:inline-block;}

/* 글자자름*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wordKeep, .wordkeep, .wkeep {white-space:normal;word-break:keep-all;}
.nowrap {white-space:nowrap;}

/*숨김*/
.hidden {display:none;}
.blind {width:1px;height:1px;overflow:hidden;position:absolute;top:-9999em;left:-9999em;display:block;text-indent:-9999em;font-size:0px;line-height:0;}

/*정렬*/
.tc {text-align:center;}
.tl {text-align:left;}
.tr {text-align:right;}
.left ,.l {text-align:left !important;}
.right,.r {text-align:right !important;}
.center, .c {text-align:center !important;}

/*행간*/
.lh10 {line-height:1em !important;}
.lh11 {line-height:1.1em !important;}
.lh12 {line-height:1.2em !important;}
.lh13 {line-height:1.3em !important;}
.lh14 {line-height:1.4em !important;}
.lh15 {line-height:1.5em !important;}
.lh16 {line-height:1.6em !important;}
.lh17 {line-height:1.7em !important;}
.lh18 {line-height:1.8em !important;}
.lh19 {line-height:1.9em !important;}
.lh20 {line-height:2em !important;}
.lh21 {line-height:2.1em !important;}
.lh22 {line-height:2.2em !important;}


/*퍼센트*/
.wps_5 {width:5% !important;}
.wps_10{width:10% !important;}
.wps_15{width:15% !important;}
.wps_20{width:20% !important;}
.wps_25{width:25% !important;}
.wps_30{width:30% !important;}
.wps_35{width:35% !important;}
.wps_40{width:40% !important;}
.wps_45{width:45% !important;}
.wps_46{width:46% !important;}
.wps_47{width:47% !important;}
.wps_48{width:48% !important;}
.wps_49{width:49% !important;}
.wps_50{width:50% !important;}
.wps_55{width:55% !important;}
.wps_60{width:60% !important;}
.wps_65{width:65% !important;}
.wps_70{width:70% !important;}
.wps_75{width:75% !important;}
.wps_80{width:80% !important;}
.wps_85{width:85% !important;}
.wps_90{width:90% !important;}
.wps_95{width:95% !important;}
.wps_100{width:100% !important; _width:100% !important; *width:100% !important;}



.mg_t10 {margin-top:10px;}
.mg_t15 {margin-top:15px;}
.mg_t20 {margin-top:20px;}
.mg_t25 {margin-top:25px;}
.mg_t30 {margin-top:30px;}
.mg_t35 {margin-top:35px;}
.mg_t40 {margin-top:40px;}
.mg_t45 {margin-top:45px;}
.mg_t50 {margin-top:50px;}
.mg_t55 {margin-top:55px;}

@media all and (max-width:768px) {
	.mg_t10 {margin-top:2vw;}
	.mg_t15 {margin-top:2.5vw;}
	.mg_t20 {margin-top:3vw;}
	.mg_t25 {margin-top:3.5vw;}
	.mg_t30 {margin-top:4vw;}
	.mg_t35 {margin-top:4.5vw;}
	.mg_t40 {margin-top:5vw;}
	.mg_t45 {margin-top:5.5vw;}
	.mg_t50 {margin-top:6vw;}
	.mg_t55 {margin-top:6.5vw;}
}

@media all and (max-width:480px) {
	.mg_t10 {margin-top:3vw;}
	.mg_t15 {margin-top:3.5vw;}
	.mg_t20 {margin-top:4vw;}
	.mg_t25 {margin-top:4.5vw;}
	.mg_t30 {margin-top:5vw;}
	.mg_t35 {margin-top:5.5vw;}
	.mg_t40 {margin-top:6vw;}
	.mg_t45 {margin-top:6.5vw;}
	.mg_t50 {margin-top:7vw;}
	.mg_t55 {margin-top:7.5vw;}
}


.black {color:#212121 !important}
.white {color:#fff !important}
.point {color:#505bf0 !important}

.w_back {background:#fff !important}
.gray_back {background:#f2f2f2 !important}

.overflow {overflow:hidden !important}
.b {font-weight:700 !important}
.bk {display:block;}

.max_wps100 {max-width:100%}

.mitj {text-decoration: line-through;}

/*테이블*/
.t1 {width:100%; margin-bottom:20px;}
.t1 table {width:100%; font-size:22px;}
.t1 table th {padding:15px 0; color:#fff; background:#000; border-right:1px solid #e1e1e2}
.t1 table th:last-child {border-right:0}
.t1 table td {border-bottom:1px solid #e1e1e2; border-right:1px solid #e1e1e2; padding:15px 5px}
.t1 table td:last-child {border-right:0}

.t1 table tfoot td {background:#65378d; color:#fff; font-size:27px}
.t_none {border-top:0 !important}

.t1 .big {font-size:27px; font-weight:700}

@media all and (max-width:1024px) {
	.t1 table th, .t1 table td {padding:1vw;}
	.t1 table {font-size:1.6vw;}
	.t1 table tfoot td, .t1 .big {font-size:2.1vw}
}

@media all and (max-width:768px) {
	.t1 table {font-size:2.2vw;}
	.t1 table tfoot td, .t1 .big {font-size:2.7vw}
}

@media all and (max-width:480px) {
	.t1 table {font-size:3.2vw;}
	.t1 table tfoot td, .t1 .big {font-size:3.7vw}
}


/* 버튼 */
a.btn, button.btn, input.btn {line-height:80px;height:85px;padding:0 10px;text-align:center;font-weight:bold;border:0;font-size:1.4em;}

a.btn01 {display:inline-block;;border:1px solid #505bf0;background:#505bf0;color:#fff;text-decoration:none;vertical-align:middle; border-radius:15px;}
button.btn01, input.btn01 {display:inline-block;margin:0;border:1px solid #505bf0; background:#505bf0;color:#fff;text-decoration:none; border-radius:15px;}

a.btn02 {display:inline-block;border:1px solid #505bf0;background:#fff;color:#505bf0;text-decoration:none;vertical-align:middle; border-radius:15px;}
button.btn02, input.btn02 {display:inline-block;margin:0;border:1px solid #505bf0;background:#fff;color:#505bf0;text-decoration:none; border-radius:15px;}


.btn_submit, button.btn_cance, input.btn_cance {border:0; display:inline-block; background:#505bf0;color:#fff;cursor:pointer; border-radius:15px;}
button.btn_cance, input.btn_cance {}

a.btn_cancel, button.btn_cancel, input.btn_cancel {border:0; display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle; border-radius:15px;}
button.btn_cancel, input.btn_cancel {}


@media screen and (max-width:768px){
	a.btn, button.btn, input.btn {line-height:9vw; height:10vw;padding:0 1vw; border-radius:2.5vw;}
}

@media screen and (max-width:480px){
	a.btn, button.btn, input.btn {line-height:13vw;height:14vw;padding:0 2vw; border-radius:3.5vw;}
}

.Btn_off {background:#eaeaea !important; border-color:#eaeaea !important; color:#343434 !important}


/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;color:#bababa;text-decoration:none;vertical-align:middle;border:0;background:transparent; border-radius:15px;}
a.btn_b02,.btn_b02 {display:inline-block;background:#253dbe;padding:0 10px;color:#fff;text-decoration:none;border:0;vertical-align:middle; border-radius:15px;}
a.btn_b03, .btn_b03 {display:inline-block;background:#fff;border:1px solid #b9bdd3;color:#646982;text-decoration:none;vertical-align:middle; border-radius:15px;}
a.btn_b04, .btn_b04 {display:inline-block;background:#fff;border:1px solid #ccc;color:#707070;text-decoration:none;vertical-align:middle; border-radius:15px;}

a.btn_admin,.btn_admin {display:inline-block;color:#d13f4a;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */